<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Crear Producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input formControlName="id" placeholder="Id" matInput type="text">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input formControlName="title" placeholder="Titulo" matInput type="text">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input formControlName="price" placeholder="Precio" matInput type="number">
          </mat-form-field>
          <div *ngIf="priceField.errors && priceField.dirty">
            <p *ngIf="priceField.hasError('required')">Este campo es requerido</p>
            <p *ngIf="priceField.hasError('price_invalid')">El precio no debe ser mayor a 10000</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <textarea formControlName="description" matInput type="text"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>
